body {
	padding-top: 20px;
}



/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	padding: 14px 24px;
	font-size: 21px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */
.nav-justified {
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.nav-justified>li>a {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0;
	font-weight: bold;
	color: #777;
	text-align: center;
	background-color: #e5e5e5; /* Old browsers */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E7DCD6),
		to(#D1BDB1));
	background-image: -webkit-linear-gradient(top, #E7DCD6 0%, #D1BDB1 100%);
	background-image: -o-linear-gradient(top, #E7DCD6 0%, #D1BDB1 100%);
	background-image: linear-gradient(to bottom, #E7DCD6 0%, #D1BDB1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E7DCD6',
		endColorstr='#D1BDB1', GradientType=0); /* IE6-9 */
	background-repeat: repeat-x; /* Repeat the gradient */
	border-bottom: 1px solid #D1BDB1;
}

.nav-justified>.active>a, .nav-justified>.active>a:hover, .nav-justified>.active>a:focus
	{
	background-color: #D1BDB1;
	background-image: none;
	-webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .15);
	box-shadow: inset 0 3px 7px rgba(0, 0, 0, .15);
}

.nav-justified>li:first-child>a {
	border-radius: 5px 5px 0 0;
}

.nav-justified>li:last-child>a {
	border-bottom: 0;
	border-radius: 0 0 5px 5px;
}

@media ( min-width : 768px) {
	.nav-justified {
		max-height: 52px;
	}
	.nav-justified>li>a {
		border-right: 1px solid #d5d5d5;
		border-left: 1px solid #fff;
	}
	.nav-justified>li:first-child>a {
		border-left: 0;
		border-radius: 5px 0 0 5px;
	}
	.nav-justified>li:last-child>a {
		border-right: 0;
		border-radius: 0 5px 5px 0;
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.masthead, .marketing, .footer {
		padding-right: 0;
		padding-left: 0;
	}
}

/*
* Adicional
*/
.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: #f2edea;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}